// Exportiere die Variablen für den Bootstrap-Import
$primary: #007bff;
$enable-rounded: true;

// Stelle die Variablen für andere Module zur Verfügung
:export {
  primary: $primary;
  enableRounded: $enable-rounded;
}
