// Bootstrap-Variablen
$primary: #007bff !default;
$enable-rounded: true !default;

// Stelle die Variablen für andere Module zur Verfügung
:export {
  primary: $primary;
  enableRounded: $enable-rounded;
}
